
body,
h1,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 10px;
  width: 300px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007bff;
}


button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


.task {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 320px;
}

.task.completed {
  background-color: #f2f2f2;
  text-decoration: line-through;
}

.task input[type="checkbox"] {
  margin-right: 10px;
}

.task button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 6px 12px;
  margin-left: auto;
  transition: background-color 0.3s ease;
}

.task button:hover {
  background-color: #cc0000;
}
